.auth-container {
  height: 100vh;
  background: #0f0f0f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-card {
  background: #1c1c1c;
  padding: 30px;
  border-radius: 12px;
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.2);
}

.auth-title {
  text-align: center;
  color: white;
}

.auth-card input {
  padding: 10px;
  border: none;
  border-radius: 6px;
  background: #2a2a2a;
  color: white;
  outline: none;
}

.auth-card input:focus {
  border: 1px solid red;
}

.auth-card button {
  padding: 10px;
  background: red;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.auth-card button:hover {
  background: #cc0000;
}

.auth-link {
  text-align: center;
  font-size: 14px;
  color: #aaa;
}

.auth-link span {
  color: red;
  cursor: pointer;
}