.download-hover {
  pointer-events: none;
}

.download-pagination {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  gap: 15px;
}

.download-pagination button {
  padding: 8px 15px;
  border: none;
  background: red;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.download-pagination button:disabled {
  background: gray;
}