.home {
  padding: 20px;
  background: #111;
  min-height: 100vh;
  color: white;
}

.title {
  margin-bottom: 20px;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
}

.card {
  background: #1c1c1c;
  padding: 15px;
  border-radius: 12px;
  transition: 0.3s;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
  background: #292929;
}

.pagination {
  margin-top: 20px;
}

.pagination button {
  padding: 8px 15px;
  margin: 5px;
  border: none;
  background: red;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}