body {
  margin: 0;
  background: #0f172a;
  color: white;
  font-family: 'Segoe UI', sans-serif;
}

.home {
  padding: 20px;
}

.title {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
}

.card {
  background: #1e293b;
  padding: 15px;
  border-radius: 12px;
  transition: 0.3s;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
  background: #334155;
}

.pagination {
  text-align: center;
  margin-top: 20px;
}